<!DOCTYPE html>
<html>

 <head>
    <title>CogLang-Translator</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css">
 </head>

 <body>
    
    <h1>CogLang-Translator:</h1>
    <h2>English to Cognate Language (rough translation).</h2>
   
    <br/>
   
    <p><b>Example usage:</b> 
      <div>
        <a href="https://coglang-translator.glitch.me/hi" target="_blank">coglang-translator.glitch.me/hi</a>
      </div>
    </p>
    <p>
      <b>Example output:</b> 
      <div>
        { "nanihlanpriv", "nanih" }
      </div>
    </p>

    <br/>

    <h2>
      GitHub Repo:
    </h2>
    <a href="https://github.com/hchiam/coglang-translator" target="_blank">github.com/hchiam/coglang-translator</a>

    <h2>
      Related GitHub Repos:
    </h2>
    <p>
      <a href="https://github.com/hchiam/language-user-interface" target="_blank">github.com/hchiam/language-user-interface</a>
    </p>
    <p>
      <a href="https://github.com/hchiam/cognateLanguage" target="_blank">github.com/hchiam/cognateLanguage</a>
    </p>
   
   </body>

</html>
